<div class="jumbotron">
    <div class="text-center identiy-section">
        <h1 class="display-4">Aritra Dey</h1>
        <h3>Developer</h3>
        <div class="row">
            <div class="col-sm">
                
            </div>
            <div class="col-sm">
                <div class="row">
                    <div class="col-sm"></div>
                    <div class="col-sm">
                        <a class="icon-link" target="_blank" href="https://github.com/Aritra93"><i class="fab fa-2x fa-github"></i></a>
                    </div>
                    <div class="col-sm">
                        <a class="icon-link" target="_blank" href="https://www.linkedin.com/in/aritra-dey-a02973119/"><i class="fab fa-2x fa-linkedin"></i></a>
                    </div>
                    <div class="col-sm">
                        <a class="icon-link" href="mailto:aritradey1993@gmail.com"><i class="fa fa-2x fa-envelope"></i></a>
                    </div>
                    <div class="col-sm"></div>
                </div>
            </div>
            <div class="col-sm">
                
            </div>
        </div>
    </div>

</div>
