<div id="overlay" (click)="closeModal()">
</div>
<div id="container">
  <div id="header">
    {{proj_details.name}}
  </div>
  <div>
    <img src={{proj_details.iconLink}} alt="profile picture" width="30%" height="30%" style="display:flex; margin-left: auto; margin-right: auto;">
  </div>
  <div id="content">
    {{proj_details.description}}
  </div>
  <a class="icon-link" target="_blank" href={{proj_details.projectLink}}><i class="fab fa-2x fa-github"></i></a>
  <div id="actions">
    <button class="cancel" (click)="closeModal()">Close</button>
  </div>
</div>